@import url('https://fonts.googleapis.com/css?family=Vollkorn');

.frase{
font-family: 'Vollkorn', serif;
    padding: 1em;
}

.branco, .navbar a{
    color: #fff;
}

tbody tr:hover{
background-color: darkgrey;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

.navebar{
    height: 1em;
}