header{
    height: 100%;
    min-height: 400px;
    background-image: url(../img/fundo1.png);
    background-position: center;
    background-size: cover;
    padding-top: 80px;
}

header img{
    width: 100%;
    max-width: 550px;
}

header p{
    position: relative;
    bottom: -60px;
padding: 20px 0;
    border: none;
}